* {
  box-sizing: border-box; }

/*insert custom css below*/

h1 {
  font-size:35px;
  padding: 32px;
  margin:27px;
}
small {
  font-size: 10px;
}
div {
    width: 435px;
    padding: 30px;
    border: 2px solid black;
    margin: 25px;
}

body{
    background-color: #d6d6c2;
}

/* unvisited link*/
a:link {
  color: black;
  text-decoration: none;
}

/* mouse over link*/
a:hover {
   color: white;
}

.read-more:hover{
  text-decoration:underline;
}

