* {
  box-sizing: border-box; }

/*insert custom css below*/

div {
    width: 400px;
    padding: 30px;
    border: 2px solid black;
    margin: 25px;
}

body{
    background-color: #d6d6c2;
}

/* unvisited link*/
a:link {
  color: black;
}

/* mouse over link*/
a:hover {
   color: white;
}
